flow_HueEL.txt
[{"id":"53eb5d1a.9ff6b4","type":"function","z":"6abcbb2f.ad26a4","name":"setupHueBridge","func":"// Node-RED/HueEL/setupHueBridge.js 2018.07.09\n// Set IP and Username of Hue Bridge\n\nconst ipHueBridge = \"192.168.128.2\";\nconst userNameHueBridge = \"hCJFSAhu0M7szB1WQy0nn46eeb5ecgRfwNHIkjQm\";\n\nglobal.set(\"hueBridge\", {\n    ip: ipHueBridge,\n    userName: userNameHueBridge\n});\n\nreturn;","outputs":1,"noerr":0,"x":340,"y":63,"wires":[[]]},{"id":"cc60e6bf.3bd018","type":"function","z":"6abcbb2f.ad26a4","name":"show global(\"epc_device\")","func":"let epc_device = global.get(\"epc_device\");\nmsg.payload = epc_device;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":760,"wires":[["99c4d708.ddd668"]]},{"id":"ae8e5422.3f7238","type":"inject","z":"6abcbb2f.ad26a4","name":"Initialize","topic":"","payload":"Initialize","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":100,"y":120,"wires":[["c4ada1e6.44ed3","53eb5d1a.9ff6b4","cecd8d96.49f85","61e1608a.55de1"]]},{"id":"c4ada1e6.44ed3","type":"function","z":"6abcbb2f.ad26a4","name":"Initialization","func":"// Node-RED/HUEEL3V/Initialization.js 2017.05.11  \n// Initialization of global data\n\nglobal.set(\"tid\", 0);\nglobal.set(\"epc_node\", {\n    0x80: [0x30],\n    0x82: [0x01, 0x0C, 0x01, 0x00],\n    0x83: [0xFE, 0x00, 0x00, 0x77, \n                0x00, 0x01, 0x02, 0x03, 0x04, 0x05, 0x06, 0x07, 0x08, 0x09, 0x0A, 0x0B, 0x0C],\n    0x8A: [0x00, 0x00, 0x77],\n    0x9D: [0x02, 0x80, 0xD5],\n    0x9E: [0x00],\n    0x9F: [0x0C, 0x80, 0x82, 0x83, 0x8A, 0x9D, 0x9E, 0x9F, 0xD3, 0xD4, 0xD5, 0xD6, 0xD7],\n    0xD3: [0x03],\n    0xD4: [0x02],\n    0xD5: [0x03, 0x02, 0x90, 0x01, 0x02, 0x90, 0x02, 0x02, 0x90, 0x03],\n    0xD6: [0x03, 0x02, 0x90, 0x01, 0x02, 0x90, 0x02, 0x02, 0x90, 0x03],\n    0xD7: [0x01, 0x02, 0x90]\n});\n\nglobal.set(\"epc_device\", [\n{\n    0x80: [0x30],\n    0x81: [0x08],\n    0x82: [0x00, 0x00, 0x49, 0x00],\n    0x88: [0x42],\n    0x8A: [0x00, 0x00, 0x77],\n    0x9D: [0x03, 0x80, 0x81, 0x88],\n    0x9E: [0x04, 0x80, 0xB0, 0xB6, 0xC0],\n    0x9F: [0x0B, 0x80, 0x81, 0x82, 0x88, 0x8A, 0x9D, 0x9E, 0x9F, 0xB0, 0xB6, 0xC0],\n    0xB0: [0x64],\n    0xB6: [0x42],\n    0xC0: [0x00, 0xFF, 0xFF]\n},\n{\n    0x80: [0x30],\n    0x81: [0x08],\n    0x82: [0x00, 0x00, 0x49, 0x00],\n    0x88: [0x42],\n    0x8A: [0x00, 0x00, 0x77],\n    0x9D: [0x03, 0x80, 0x81, 0x88],\n    0x9E: [0x04, 0x80, 0xB0, 0xB6, 0xC0],\n    0x9F: [0x0B, 0x80, 0x81, 0x82, 0x88, 0x8A, 0x9D, 0x9E, 0x9F, 0xB0, 0xB6, 0xC0],\n    0xB0: [0x64],\n    0xB6: [0x42],\n    0xC0: [0xFF, 0x00, 0xFF]\n},\n{\n    0x80: [0x30],\n    0x81: [0x08],\n    0x82: [0x00, 0x00, 0x49, 0x00],\n    0x88: [0x42],\n    0x8A: [0x00, 0x00, 0x77],\n    0x9D: [0x03, 0x80, 0x81, 0x88],\n    0x9E: [0x04, 0x80, 0xB0, 0xB6, 0xC0],\n    0x9F: [0x0B, 0x80, 0x81, 0x82, 0x88, 0x8A, 0x9D, 0x9E, 0x9F, 0xB0, 0xB6, 0xC0],\n    0xB0: [0x64],\n    0xB6: [0x42],\n    0xC0: [0xFF, 0xFF, 0x00]\n}\n]);\n\nreturn msg;","outputs":1,"noerr":0,"x":332,"y":98,"wires":[[]]},{"id":"61e1608a.55de1","type":"function","z":"6abcbb2f.ad26a4","name":"send_INF_D5","func":"// Hue-EL/send_INF_D5\n// 2017.05.09\n// Update Device List\n// Send INF D5 to Node Profile\n\n  msg.els = {\n    \"ip\" : \"224.0.23.0\",\n    \"tid\" : 1,\n    \"seoj\" : [0x0ef0,1],\n    \"deoj\" : [0x05ff,1],\n    \"esv\" : 0x73,   // INF\n    \"epc\" : 0xD5,   // インスタンスリスト通知\n    \"edt\" : [0x01, 0x02, 0x90, 0x01]    // General Lighting\n  };\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["904d7811.36f748"]]},{"id":"904d7811.36f748","type":"link out","z":"6abcbb2f.ad26a4","name":"send_INF_D5","links":["6517cb4.c135e34"],"x":475,"y":140,"wires":[]},{"id":"f9dc23a8.39cc8","type":"comment","z":"6abcbb2f.ad26a4","name":"HueEL.txt","info":"# ECHONET Lite converter for Phillips Hue \n\n## Configuration\nThis flow supports one bridge and three valves configuration.\n\n## Set Up\nmodify \"ip address\" and \"username\" of Hue Bridge in setpHueBridge node.","x":80,"y":20,"wires":[]},{"id":"50a21040.44be9","type":"udp in","z":"6abcbb2f.ad26a4","name":"EL receive","iface":"","port":"3610","ipv":"udp4","multicast":"true","group":"224.0.23.0","datatype":"buffer","x":80,"y":300,"wires":[["159ddf71.bb4251"]]},{"id":"159ddf71.bb4251","type":"function","z":"6abcbb2f.ad26a4","name":"Parse EL1","func":"// Parse ECHONET Lite packet\n// Assumption: OPC = 1\n\n//  OUTPUT:\n//  msg.elr.ip      // ip address (String)\n//  msg.elr.ehd     // EHD (Int)\n//  msg.elr.tid     // TID (Int)\n//  msg.elr.seoj    // SEOJ ([Int:device, Int:instance])\n//  msg.elr.deoj    // DEOJ ([Int:device, Int:instance])\n//  msg.elr.esv     // ESV (Int)\n//  msg.elr.opc     // OPC (Int)\n//  msg.elr.epc     // EPC (Int)\n//  msg.elr.pdc     // PDC (Int)\n//  msg.elr.edt     // EDT ([Int]) or [](no EDT data)\n\nconst buffer = msg.payload;\n\nif (buffer.length >= 14) {\n  const ehd_buffer = buffer.slice(0, 2);\n  const tid_buffer = buffer.slice(2, 4);\n  const seoj_device_buffer = buffer.slice(4, 6);\n  const seoj_instance_buffer = buffer.slice(6, 7);\n  const deoj_device_buffer = buffer.slice(7, 9);\n  const deoj_instance_buffer = buffer.slice(9, 10);\n  const esv_buffer = buffer.slice(10, 11);\n  const opc_buffer = buffer.slice(11, 12);\n  const epc_buffer = buffer.slice(12, 13);\n  const pdc_buffer = buffer.slice(13, 14);\n\n  const ehd = ehd_buffer.readUInt16BE(0);\n  const tid = tid_buffer.readUInt16BE(0);\n  const seoj_device = seoj_device_buffer.readUInt16BE(0);\n  const seoj_instance = seoj_instance_buffer.readUInt8(0);\n  const seoj = [seoj_device, seoj_instance];\n  const deoj_device = deoj_device_buffer.readUInt16BE(0);\n  const deoj_instance = deoj_instance_buffer.readUInt8(0);\n  const deoj = [deoj_device, deoj_instance];\n  const esv = esv_buffer.readUInt8(0);\n  const opc = opc_buffer.readUInt8(0);\n  const epc = epc_buffer.readUInt8(0);\n  const pdc = pdc_buffer.readUInt8(0);\n  let edt = [];\n  \n  if (buffer.length >= 15) {\n    const edt_buffer = buffer.slice(14);\n    for (var i = 0; i < edt_buffer.length; i++) {\n        edt[i] = edt_buffer.readUInt8(i);\n    }\n  }\n\n  // ECHONET Lite header check\n  if (ehd == 0x1081) {\n    msg.elr = {\n        \"ip\"    : msg.ip,\n        \"ehd\"   : ehd,\n        \"tid\"   : tid,\n        \"seoj\"  : seoj,\n        \"deoj\"  : deoj,\n        \"esv\"   : esv,\n        \"opc\"   : opc,\n        \"epc\"   : epc,\n        \"pdc\"   : pdc,\n        \"edt\"   : edt\n    };\n  } else {\n      return;\n  }\n} else {\n    return;\n}\n\n// from integer to HEX string in even digit\nfunction n2HexString(n){\n    let str = n.toString(16);\n    if ((str.length % 2) === 0) {\n        str = \"0x\" + str;\n    } else {\n        str = \"0x0\" + str;\n    }\n    return str;\n}\n\nlet edtTmp = [];\nfor (let edt of msg.elr.edt) {\n    edtTmp.push(n2HexString(edt));\n}\n\n//  display in HEX format\nmsg.payload = {\n    ip : msg.elr.ip,\n    ehd : n2HexString(msg.elr.ehd),\n    tid : n2HexString(msg.elr.tid),\n    seoj : n2HexString(msg.elr.seoj[0]) + \", \" + n2HexString(msg.elr.seoj[1]),\n    deoj : n2HexString(msg.elr.deoj[0]) + \", \" + n2HexString(msg.elr.deoj[1]),\n    esv : n2HexString(msg.elr.esv),\n    opc : n2HexString(msg.elr.opc),\n    epc : n2HexString(msg.elr.epc),\n    pdc : n2HexString(msg.elr.pdc),\n    edt : edtTmp\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":300,"wires":[["713121bc.97124","1852778c.398408","7a05892e.4ef1a8","c508f7d3.093788"]]},{"id":"f76441cd.41ed7","type":"function","z":"6abcbb2f.ad26a4","name":"Send EL1","func":"// Send ECHONET Lite packet\n// Assumption: OPC = 1\n//\n//  Usage: set following data\n//  msg.els.ip      ip address (String)\n//  msg.els.tid     TID (Int)\n//  msg.els.seoj    SEOJ ([Int:device, Int:instance])\n//  msg.els.deoj    DEOJ ([Int:device, Int:instance])\n//  msg.els.esv     ESV (Int)\n//  msg.els.epc     EPC (Int)\n//  msg.els.edt     EDT ([Int]) or []\n\nif (msg.els === null) {\n    console.log(\"msg.els === null\");\n    return;\n}\n\nconst tid_buffer = Buffer.allocUnsafe(2);\nlet   seoj_buffer = Buffer.allocUnsafe(3);\nconst seoj = msg.els.seoj;\nlet   deoj_buffer = Buffer.allocUnsafe(3);\nconst deoj = msg.els.deoj;\nconst esv_buffer = Buffer.allocUnsafe(1);\nconst opc_buffer = Buffer.from([1]);\nconst epc_buffer = Buffer.allocUnsafe(1);\nconst pdc_buffer = Buffer.allocUnsafe(1);\nlet edt = msg.els.edt;\n\ntid_buffer.writeUInt16BE(msg.els.tid, 0);\nesv_buffer.writeUInt8(msg.els.esv, 0);\nepc_buffer.writeUInt8(msg.els.epc, 0);\n\nseoj_buffer.writeUInt16BE(seoj[0], 0);\nseoj_buffer.writeUInt8(seoj[1], 2);\ndeoj_buffer.writeUInt16BE(deoj[0], 0);\ndeoj_buffer.writeUInt8(deoj[1], 2);\n\n// edt[]からedt_bufferを作成\nif ((typeof edt) == \"undefined\") {\n    edt = [];\n}\n\nconst edt_buffer = Buffer.allocUnsafe(edt.length);\nfor (var i = 0; i < edt.length; i++) {\n    edt_buffer.writeUInt8(edt[i], i);\n}\n\npdc_buffer.writeUInt8(edt_buffer.length, 0);\n\n// Create ECHONET Lite packet\nconst el_buffer = Buffer.from([\n\t0x10, 0x81,\n\ttid_buffer[0], tid_buffer[1],\n\tseoj_buffer[0], seoj_buffer[1], seoj_buffer[2],\n\tdeoj_buffer[0], deoj_buffer[1], deoj_buffer[2],\n\tesv_buffer[0], opc_buffer[0], epc_buffer[0], pdc_buffer[0]]);\n\n// add EDT data\nif (edt_buffer.length !== 0) {\n    msg.payload = Buffer.concat([el_buffer, edt_buffer], \n        (el_buffer.length + edt_buffer.length));\n} else {\n    msg.payload = el_buffer;\n}\n\nmsg.ip = msg.els.ip;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":340,"wires":[["c65315c2.e88018","dad156da.6c8848"]]},{"id":"c65315c2.e88018","type":"udp out","z":"6abcbb2f.ad26a4","name":"EL send","addr":"","iface":"","port":"3610","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":840,"y":340,"wires":[]},{"id":"7278bae.2c98e44","type":"inject","z":"6abcbb2f.ad26a4","name":"Test Initialization","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":640,"wires":[["218eba38.1f09f6"]]},{"id":"218eba38.1f09f6","type":"function","z":"6abcbb2f.ad26a4","name":"Test Initialization","func":"// Test:Initialization of global data\n\nvar payload = {};\n\npayload.tid = global.get(\"tid\");\npayload.epc_node = global.get(\"epc_node\");\npayload.epc_device = global.get(\"epc_device\");\n\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":640,"wires":[["1b7e6200.7005ce"]]},{"id":"1b7e6200.7005ce","type":"debug","z":"6abcbb2f.ad26a4","name":"","active":true,"console":"false","complete":"false","x":530,"y":640,"wires":[]},{"id":"713121bc.97124","type":"function","z":"6abcbb2f.ad26a4","name":"Node Profile","func":"// HUE-EL/NodeProfile\n// General Lighting Emulator  2017.03.03\n// Process SetI(0x60), SetC(0x61), Get(0x62)\n\nlet ip = msg.elr.ip;\nlet tid = msg.elr.tid     // TID (Int)\nlet seoj = msg.elr.seoj;\nlet deoj = msg.elr.deoj;\nlet esv = msg.elr.esv;\nlet epc = msg.elr.epc;\nlet edt = msg.elr.edt;\n\nlet epc_node = global.get(\"epc_node\");\nlet epc_value;\nlet els = {};\n\nif (deoj[0] != 0x0EF0) {  // DEOJ is not Node Profile\n    return;\n}\n\nif (esv != 0x62) {      // Get以外\n    return;\n}\n\nepc_value = epc_node[epc];\n\n// epcがepc_nodeになければGet_SNAを返す\nif (epc_value === undefined) {\n  els.esv = 0x52;\n  els.edt = [];\n} else {\n  els.esv = 0x72;\n  els.edt = epc_value;\n}\n\nels.ip = ip; \nels.tid = tid;\nels.seoj = deoj;\nels.deoj = seoj;\nels.epc = epc;\n\nmsg.els = els;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":380,"wires":[["f76441cd.41ed7"]]},{"id":"1852778c.398408","type":"debug","z":"6abcbb2f.ad26a4","name":"","active":false,"console":"false","complete":"elr","x":420,"y":260,"wires":[]},{"id":"6517cb4.c135e34","type":"link in","z":"6abcbb2f.ad26a4","name":"EL send","links":["904d7811.36f748","ec04c01a.455ab"],"x":575,"y":380,"wires":[["f76441cd.41ed7"]]},{"id":"dad156da.6c8848","type":"debug","z":"6abcbb2f.ad26a4","name":"","active":false,"console":"false","complete":"false","x":850,"y":380,"wires":[]},{"id":"7a05892e.4ef1a8","type":"function","z":"6abcbb2f.ad26a4","name":"Get","func":"// Node-RED/HueEL3V/generalLightingGet.js  2017.05.23\n// Process Get(0x62) for device object\n\nlet epc_device = global.get(\"epc_device\");\nconsole.log(\"msg.elr.deoj[1]=\", msg.elr.deoj[1]);\nlet index = (msg.elr.deoj[1] === 0) ? 0 : (msg.elr.deoj[1] -1); // 2017.05.23\nlet epc_value = epc_device[ index ][ msg.elr.epc ]; // 2017.05.23\nlet els = {};\n\nels.ip = msg.elr.ip;\nels.tid = msg.elr.tid;\nels.seoj = msg.elr.deoj;\nels.deoj = msg.elr.seoj;\nels.epc = msg.elr.epc;\n\nif (msg.elr.deoj[0] == 0x0290) {  // Check if DEOJ is General Lighting\n    if (msg.elr.esv == 0x62) {      // Get\n        if (epc_value === undefined) { // reply Get_SNA\n            els.esv = 0x52;\n            els.edt = [];\n        } else {              // reply GET_RES\n            els.esv = 0x72;\n            els.edt = epc_value;\n        }\n    msg.els = els;\n    return msg;\n    }\n}\nreturn;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["f76441cd.41ed7"]]},{"id":"c508f7d3.093788","type":"function","z":"6abcbb2f.ad26a4","name":"Set","func":"// Node-RED/HueEL3V/generalLightingSet.js  2017.06.06\n// 3 Valves\n// Process SetI(0x60), SetC(0x61) for device object\n// How to process EOJ.instance === 0\n// msg.payload.id is EOJ.instance\n// following function filters either specified number or 0\n\nlet epc = msg.elr.epc;\nlet edt = msg.elr.edt;\nlet epc_device = global.get(\"epc_device\");\nlet els = {};\nlet instanceNumber = msg.elr.deoj[1];　\nlet index = (instanceNumber === 0) ? 0 : (instanceNumber -1); // 2017.05.23\nlet setPropertyMap = epc_device[ index ][0x9E].concat();     // copy array, 2017.05.23\n\nsetPropertyMap.shift();   // remove first element\nels.ip = msg.elr.ip;\nels.tid = msg.elr.tid;\nels.seoj = msg.elr.deoj;\nels.deoj = msg.elr.seoj;\nels.epc = epc;\n\nif (msg.elr.deoj[0] == 0x0290) {  // Check if DEOJ is General Lighting\n    if ((msg.elr.esv == 0x60) || (msg.elr.esv == 0x61)) {      // SetI or SetC\n        let indexOfEpc = setPropertyMap.indexOf(epc);    // Check if epc is in setPropertyMap\n        if (indexOfEpc == -1) {  // reply SetI_SNA(0x50) or SetC_SNA(0x51)\n            els.esv = (esv == 0x60) ? 0x50 : 0x51;\n            els.edt = [];\n        } else {\n            switch (epc) {\n                case 0x80:\n                    if (edt[0] == 0x30) {\n                        msg.payload = {\"id\":instanceNumber, \"on\":true, \"sat\":0, \"bri\":254,\"hue\":0};\n                    } else if (edt[0] == 0x31) {\n                        msg.payload = {\"id\":instanceNumber, \"on\": false};\n                    }\n                    if (instanceNumber === 0) {          // 2017.05.23\n                        epc_device[0][epc] = [edt[0]];\n                        epc_device[1][epc] = [edt[0]];\n                        epc_device[2][epc] = [edt[0]];\n                    } else {\n                        epc_device[ instanceNumber -1 ][epc] = [edt[0]];\n                    }\n                    break;\n                case 0xB0:\n                    let bri = Math.floor((edt[0] / 100) * 254);     // ELの明るさは0...100, Hueの明るさは0...254\n                    msg.payload = {\"id\":instanceNumber, \"bri\": bri};\n                    if (instanceNumber === 0) {          // 2017.05.23\n                        epc_device[0][epc] = [edt[0]];\n                        epc_device[1][epc] = [edt[0]];\n                        epc_device[2][epc] = [edt[0]];\n                    } else {\n                        epc_device[ instanceNumber -1 ][epc] = [edt[0]];\n                    }\n                    break;\n                case 0xB6:            // EDTの値に応じて、通常灯・常夜灯・カラー灯にする\n                    if ((edt[0] == 0x41) || (edt[0] == 0x42)) {   // 自動　通常灯\n                        msg.payload = {\"id\":instanceNumber, \"on\":true, \"sat\":0, \"bri\":254,\"hue\":0};                \n                    } else if (edt[0] == 0x43) {    // 常夜灯\n                        msg.payload = {\"id\":instanceNumber, \"on\":true, \"sat\":200, \"bri\":32,\"hue\":10000};     // TODO: need modify\n                    } else if (edt[0] == 0x45) {    // カラー灯\n                        // 現在の0xC0の値を取得して点灯する\n                        let edt0xC0 = epc_device[ index ][0xC0];         // 2017.05.23\n                        let r =  [edt0xC0[0]];\n                        let g =  [edt0xC0[1]];\n                        let b =  [edt0xC0[2]];\n                        let hsv = rgb2hsv(r, g, b);\n                        msg.payload = {\"id\":instanceNumber, \"on\":true, \"bri\": v, \"hue\":h, \"sat\":s};\n                    }\n                    if (instanceNumber === 0) {          // 2017.05.23\n                        epc_device[0][epc] = [edt[0]];\n                        epc_device[1][epc] = [edt[0]];\n                        epc_device[2][epc] = [edt[0]];\n                    } else {\n                        epc_device[ instanceNumber -1 ][epc] = [edt[0]];\n                    }\n                    break;\n                case 0xC0:  //\n                    console.log(\"index\", index);\n                    let edt0xB6 = epc_device[ index ][0xB6];\n                    console.log(\"edt0xB6\", edt0xB6);\n                    // 0xB6がカラー灯モードなら、現在のRGB値で点灯する\n                    if (edt0xB6 == 0x45) {\n                        let r =  [edt[0]];\n                        let g =  [edt[1]];\n                        let b =  [edt[2]];\n                        let hsv = rgb2hsv(r, g, b);\n                        msg.payload = {\"id\":instanceNumber, \"on\":true, \"bri\": v, \"hue\":h, \"sat\":s};                        \n                    }\n                    if (instanceNumber === 0) {          // 2017.05.23\n                        epc_device[0][epc] = [edt[0], edt[1], edt[2]];\n                        epc_device[1][epc] = [edt[0], edt[1], edt[2]];\n                        epc_device[2][epc] = [edt[0], edt[1], edt[2]];\n                    } else {\n                        epc_device[ instanceNumber -1 ][epc] = [edt[0], edt[1], edt[2]];\n                    }\n                    break;\n            }\n            // epcの値をglobalにsetする\n            global.set(\"epc_device\", epc_device);\n\n            if (msg.elr.esv == 0x61) {  // SetCの場合Set_RESを返す\n                els.esv = 0x71;   // Set_RES\n                els.edt = [];\n            } else {\n                els = null;\n            }\n        }\n        msg.els = els;\n        return msg;      \n    }\n}\nreturn;\n\n// function rgb2hsv: convert RGB to HSV\n// input r, g, b: 0...255\n// output h:0...65535, s:0...255, v:0...255\nfunction rgb2hsv(r, g, b) {\n    let maxRGB = Math.max(r, g, b);\n    let minRGB = Math.min(r, g, b);\n    \n    if ((r == g) && (r == b)) {\n        h = 0;\n    } else if (maxRGB == r) {\n        h = Math.floor(60 * ((g - b) / (maxRGB - minRGB)));\n    } else if (maxRGB == g) {\n        h = Math.floor(60 * ((b - r) / (maxRGB - minRGB)) + 120);\n    } else if (maxRGB == b) {\n        h = Math.floor(60 * ((r - g) / (maxRGB - minRGB)) + 240);\n    }\n    \n    if (h < 0) {\n        h += 360;\n    }\n    \n    h = Math.floor(65535 * (h/360));\n    s = Math.floor(255* ((maxRGB - minRGB) / maxRGB));\n    v = maxRGB;\n    \n    return {h, s, v};    \n}","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["f76441cd.41ed7","74c04a19.8b17b4"]]},{"id":"21423a33.ce9516","type":"comment","z":"6abcbb2f.ad26a4","name":"Initialization","info":"","x":90,"y":80,"wires":[]},{"id":"29f6bf9.e20314","type":"comment","z":"6abcbb2f.ad26a4","name":"Process EL command","info":"","x":120,"y":264,"wires":[]},{"id":"d2c2ac74.27b97","type":"inject","z":"6abcbb2f.ad26a4","name":"r,g,b","topic":"","payload":"{\"r\":45, \"g\":175, \"b\":90, \"h\":0, \"s\":0, \"v\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":90,"y":720,"wires":[["952eaec8.419fb"]]},{"id":"7cc1036f.86bf2c","type":"debug","z":"6abcbb2f.ad26a4","name":"","active":true,"console":"false","complete":"false","x":650,"y":720,"wires":[]},{"id":"f70a88ff.30a698","type":"comment","z":"6abcbb2f.ad26a4","name":"TEST: HUE ON/OFF","info":"Confirm followings\n-  ip address\n- username","x":110,"y":480,"wires":[]},{"id":"5afd055f.acffac","type":"link out","z":"6abcbb2f.ad26a4","name":"ON/OFF","links":["813cc5e6.a5bfb8"],"x":215,"y":520,"wires":[]},{"id":"952eaec8.419fb","type":"function","z":"6abcbb2f.ad26a4","name":"function rgb2hsv","func":"// input r, g, b: 0...255\n// output h:0...65535, s:0...255, v:0...255\n\nlet r = msg.payload.r;\nlet g = msg.payload.g;\nlet b = msg.payload.b;\nlet h = msg.payload.h;\nlet s = msg.payload.s;\nlet v = msg.payload.v;\n\nlet hsv = rgb2hsv(r, g, b);\n\nmsg.payload.r = r;\nmsg.payload.g = g;\nmsg.payload.b = b;\nmsg.payload.h = hsv.h;\nmsg.payload.s = hsv.s;\nmsg.payload.v = hsv.v;\n\nreturn msg;\n\nfunction rgb2hsv(r, g, b) {\n    let maxRGB = Math.max(r, g, b);\n    let minRGB = Math.min(r, g, b);\n    \n    if ((r == g) && (r == b)) {\n        h = 0;\n    } else if (maxRGB == r) {\n        h = Math.floor(60 * ((g - b) / (maxRGB - minRGB)));\n    } else if (maxRGB == g) {\n        h = Math.floor(60 * ((b - r) / (maxRGB - minRGB)) + 120);\n    } else if (maxRGB == b) {\n        h = Math.floor(60 * ((r - g) / (maxRGB - minRGB)) + 240);\n    }\n    \n    if (h < 0) {\n        h += 360;\n    }\n    \n    h = Math.floor(65535 * (h/360));\n    s = Math.floor(255* ((maxRGB - minRGB) / maxRGB));\n    v = maxRGB;\n    \n    return {h, s, v};    \n}","outputs":1,"noerr":0,"x":390,"y":720,"wires":[["7cc1036f.86bf2c"]]},{"id":"d423b943.c93218","type":"comment","z":"6abcbb2f.ad26a4","name":"TEST: function rgb2hsv","info":"Confirm followings\n-  ip address\n- username","x":120,"y":680,"wires":[]},{"id":"6bea7ad8.9eba84","type":"inject","z":"6abcbb2f.ad26a4","name":"show global(\"epc_device\")","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":760,"wires":[["cc60e6bf.3bd018"]]},{"id":"99c4d708.ddd668","type":"debug","z":"6abcbb2f.ad26a4","name":"","active":true,"console":"false","complete":"false","x":650,"y":760,"wires":[]},{"id":"4cba1e5a.ba635","type":"comment","z":"6abcbb2f.ad26a4","name":"2018.07.12 9:45","info":"","x":240,"y":20,"wires":[]},{"id":"20279375.32683c","type":"http request","z":"6abcbb2f.ad26a4","name":"","method":"PUT","ret":"txt","url":"","tls":"","x":850,"y":300,"wires":[["a52ea76.07e4b58"]]},{"id":"74c04a19.8b17b4","type":"function","z":"6abcbb2f.ad26a4","name":"rest","func":"// Node-RED/HueEL/rest.js  2018.07.09\n// Create REST request\n\nconst id = msg.payload.id;\nconst hueBridge = global.get(\"hueBridge\");\nconst ip = hueBridge.ip;\nconst userName = hueBridge.userName;\nlet url = \"\";\n\nif (id !== 0) {\n    url = \"http://\" + ip + \"/api/\" + userName + \"/lights/\" + id + \"/state\";\n    msg.url = url;\n    // delete \"id\" element from msg.payload\n    delete msg.payload['id'];\n    return msg;\n} else {\n    for (let id = 1; id < 4; id++) {\n        url = \"http://\" + ip + \"/api/\" + userName + \"/lights/\" + id + \"/state\";\n        msg.url = url;\n        // delete \"id\" element from msg.payload\n        delete msg.payload['id'];\n        const data = msg.payload;\n        node.send({url:url, payload:data});\n    }\n    return;\n}","outputs":1,"noerr":0,"x":650,"y":300,"wires":[["20279375.32683c","50e586de.0d5ba8","fb599ca2.191c9"]]},{"id":"a52ea76.07e4b58","type":"debug","z":"6abcbb2f.ad26a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":300,"wires":[]},{"id":"50e586de.0d5ba8","type":"debug","z":"6abcbb2f.ad26a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","x":840,"y":220,"wires":[]},{"id":"5c506531.da74fc","type":"inject","z":"6abcbb2f.ad26a4","name":"ON","topic":"","payload":"{\"on\":true, \"id\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":90,"y":520,"wires":[["5afd055f.acffac"]]},{"id":"4d9c0a1e.34b944","type":"inject","z":"6abcbb2f.ad26a4","name":"OFF","topic":"","payload":"{\"on\":false, \"id\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":90,"y":560,"wires":[["5afd055f.acffac"]]},{"id":"fb599ca2.191c9","type":"debug","z":"6abcbb2f.ad26a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":260,"wires":[]},{"id":"813cc5e6.a5bfb8","type":"link in","z":"6abcbb2f.ad26a4","name":"rest-in","links":["5afd055f.acffac","f8ed7a3b.57e1d8","e5b67572.0bfde8","2731402.3068bc"],"x":555,"y":260,"wires":[["74c04a19.8b17b4"]]},{"id":"18c03022.ca368","type":"comment","z":"6abcbb2f.ad26a4","name":"TEST: Initialization","info":"","x":110,"y":600,"wires":[]},{"id":"cecd8d96.49f85","type":"delay","z":"6abcbb2f.ad26a4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":180,"wires":[["2b844a4a.de18f6"]]},{"id":"7cfc481c.039328","type":"function","z":"6abcbb2f.ad26a4","name":"ON","func":"// Node-RED/HUE-EL/normallLight.js  2018.07.09\n// 通常灯\n\nmsg.payload = {\"on\":true, \"sat\":0, \"bri\":254,\"hue\":0, \"id\":0};\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":180,"wires":[["2731402.3068bc"]]},{"id":"2b844a4a.de18f6","type":"function","z":"6abcbb2f.ad26a4","name":"OFF","func":"// Node-RED/HUE-EL/normallLight.js  2018.07.09\n// 通常灯\n\nmsg.payload = {\"on\":false, \"sat\":0, \"bri\":254,\"hue\":0, \"id\":0};\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["7692e970.6c7838","e5b67572.0bfde8"]]},{"id":"7692e970.6c7838","type":"delay","z":"6abcbb2f.ad26a4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":180,"wires":[["7cfc481c.039328"]]},{"id":"e5b67572.0bfde8","type":"link out","z":"6abcbb2f.ad26a4","name":"OFF","links":["813cc5e6.a5bfb8"],"x":575,"y":140,"wires":[]},{"id":"2731402.3068bc","type":"link out","z":"6abcbb2f.ad26a4","name":"ON","links":["813cc5e6.a5bfb8"],"x":875,"y":180,"wires":[]}]