HueEL3B.txt
[{"id":"29b28608.ad017a","type":"inject","z":"698d0e70.5cbd9","name":"Initialize","topic":"","payload":"Initialize","payloadType":"str","repeat":"90000","crontab":"","once":true,"x":135,"y":167,"wires":[["1600e98b.31ec66","c73e235.b11e6e","d9e6e2e6.0e99"]]},{"id":"1600e98b.31ec66","type":"function","z":"698d0e70.5cbd9","name":"Initialization","func":"// Node-RED/HUEEL3V/Initialization.js 2017.05.11  \n// Initialization of global data\n\nglobal.set(\"tid\", 0);\nglobal.set(\"epc_node\", {\n    0x80: [0x30],\n    0x82: [0x01, 0x0C, 0x01, 0x00],\n    0x83: [0xFE, 0x00, 0x00, 0x77, \n                0x00, 0x01, 0x02, 0x03, 0x04, 0x05, 0x06, 0x07, 0x08, 0x09, 0x0A, 0x0B, 0x0C],\n    0x8A: [0x00, 0x00, 0x77],\n    0x9D: [0x02, 0x80, 0xD5],\n    0x9E: [0x00],\n    0x9F: [0x0C, 0x80, 0x82, 0x83, 0x8A, 0x9D, 0x9E, 0x9F, 0xD3, 0xD4, 0xD5, 0xD6, 0xD7],\n    0xD3: [0x03],\n    0xD4: [0x02],\n    0xD5: [0x03, 0x02, 0x90, 0x01, 0x02, 0x90, 0x02, 0x02, 0x90, 0x03],\n    0xD6: [0x03, 0x02, 0x90, 0x01, 0x02, 0x90, 0x02, 0x02, 0x90, 0x03],\n    0xD7: [0x01, 0x02, 0x90]\n});\n\nglobal.set(\"epc_device\", [\n{\n    0x80: [0x30],\n    0x81: [0x08],\n    0x82: [0x00, 0x00, 0x49, 0x00],\n    0x88: [0x42],\n    0x8A: [0x00, 0x00, 0x77],\n    0x9D: [0x03, 0x80, 0x81, 0x88],\n    0x9E: [0x04, 0x80, 0xB0, 0xB6, 0xC0],\n    0x9F: [0x0B, 0x80, 0x81, 0x82, 0x88, 0x8A, 0x9D, 0x9E, 0x9F, 0xB0, 0xB6, 0xC0],\n    0xB0: [0x64],\n    0xB6: [0x42],\n    0xC0: [0x00, 0xFF, 0xFF]\n},\n{\n    0x80: [0x30],\n    0x81: [0x08],\n    0x82: [0x00, 0x00, 0x49, 0x00],\n    0x88: [0x42],\n    0x8A: [0x00, 0x00, 0x77],\n    0x9D: [0x03, 0x80, 0x81, 0x88],\n    0x9E: [0x04, 0x80, 0xB0, 0xB6, 0xC0],\n    0x9F: [0x0B, 0x80, 0x81, 0x82, 0x88, 0x8A, 0x9D, 0x9E, 0x9F, 0xB0, 0xB6, 0xC0],\n    0xB0: [0x64],\n    0xB6: [0x42],\n    0xC0: [0xFF, 0x00, 0xFF]\n},\n{\n    0x80: [0x30],\n    0x81: [0x08],\n    0x82: [0x00, 0x00, 0x49, 0x00],\n    0x88: [0x42],\n    0x8A: [0x00, 0x00, 0x77],\n    0x9D: [0x03, 0x80, 0x81, 0x88],\n    0x9E: [0x04, 0x80, 0xB0, 0xB6, 0xC0],\n    0x9F: [0x0B, 0x80, 0x81, 0x82, 0x88, 0x8A, 0x9D, 0x9E, 0x9F, 0xB0, 0xB6, 0xC0],\n    0xB0: [0x64],\n    0xB6: [0x42],\n    0xC0: [0xFF, 0xFF, 0x00]\n}\n]);\n\nreturn msg;","outputs":1,"noerr":0,"x":361.5,"y":117,"wires":[[]]},{"id":"c73e235.b11e6e","type":"function","z":"698d0e70.5cbd9","name":"send_INF_D5","func":"// Hue-EL/send_INF_D5\n// 2017.05.09\n// Update Device List\n// Send INF D5 to Node Profile\n\n  msg.els = {\n    \"ip\" : \"224.0.23.0\",\n    \"tid\" : 1,\n    \"seoj\" : [0x0ef0,1],\n    \"deoj\" : [0x05ff,1],\n    \"esv\" : 0x73,   // INF\n    \"epc\" : 0xD5,   // インスタンスリスト通知\n    \"edt\" : [0x01, 0x02, 0x90, 0x01]    // General Lighting\n  };\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":157,"wires":[["479baf15.4d46e"]]},{"id":"479baf15.4d46e","type":"link out","z":"698d0e70.5cbd9","name":"send_INF_D5","links":["680eda26.d97d94"],"x":499.5,"y":157,"wires":[]},{"id":"885ada59.983088","type":"comment","z":"698d0e70.5cbd9","name":"HUEのEL 対応: HueEL3V.txt","info":"# HUEをECHONET Lite 対応する\n\n## 概要\n3 Valve対応\n\n## 設定\nhttp request nodeのusernameとidを修正すること\n","x":165.5,"y":56,"wires":[]},{"id":"d0571cdf.cd552","type":"udp in","z":"698d0e70.5cbd9","name":"EL receive","iface":"","port":"3610","ipv":"udp4","multicast":"true","group":"224.0.23.0","datatype":"buffer","x":119,"y":376,"wires":[["650436c6.b09548"]]},{"id":"650436c6.b09548","type":"function","z":"698d0e70.5cbd9","name":"Parse EL1","func":"// Parse ECHONET Lite packet\n// Assumption: OPC = 1\n\n//  OUTPUT:\n//  msg.elr.ip      // ip address (String)\n//  msg.elr.ehd     // EHD (Int)\n//  msg.elr.tid     // TID (Int)\n//  msg.elr.seoj    // SEOJ ([Int:device, Int:instance])\n//  msg.elr.deoj    // DEOJ ([Int:device, Int:instance])\n//  msg.elr.esv     // ESV (Int)\n//  msg.elr.opc     // OPC (Int)\n//  msg.elr.epc     // EPC (Int)\n//  msg.elr.pdc     // PDC (Int)\n//  msg.elr.edt     // EDT ([Int]) or [](no EDT data)\n\nconst buffer = msg.payload;\n\nif (buffer.length >= 14) {\n  const ehd_buffer = buffer.slice(0, 2);\n  const tid_buffer = buffer.slice(2, 4);\n  const seoj_device_buffer = buffer.slice(4, 6);\n  const seoj_instance_buffer = buffer.slice(6, 7);\n  const deoj_device_buffer = buffer.slice(7, 9);\n  const deoj_instance_buffer = buffer.slice(9, 10);\n  const esv_buffer = buffer.slice(10, 11);\n  const opc_buffer = buffer.slice(11, 12);\n  const epc_buffer = buffer.slice(12, 13);\n  const pdc_buffer = buffer.slice(13, 14);\n\n  const ehd = ehd_buffer.readUInt16BE(0);\n  const tid = tid_buffer.readUInt16BE(0);\n  const seoj_device = seoj_device_buffer.readUInt16BE(0);\n  const seoj_instance = seoj_instance_buffer.readUInt8(0);\n  const seoj = [seoj_device, seoj_instance];\n  const deoj_device = deoj_device_buffer.readUInt16BE(0);\n  const deoj_instance = deoj_instance_buffer.readUInt8(0);\n  const deoj = [deoj_device, deoj_instance];\n  const esv = esv_buffer.readUInt8(0);\n  const opc = opc_buffer.readUInt8(0);\n  const epc = epc_buffer.readUInt8(0);\n  const pdc = pdc_buffer.readUInt8(0);\n  let edt = [];\n  \n  if (buffer.length >= 15) {\n    const edt_buffer = buffer.slice(14);\n    for (var i = 0; i < edt_buffer.length; i++) {\n        edt[i] = edt_buffer.readUInt8(i);\n    }\n  }\n\n  // ECHONET Lite header check\n  if (ehd == 0x1081) {\n    msg.elr = {\n        \"ip\"    : msg.ip,\n        \"ehd\"   : ehd,\n        \"tid\"   : tid,\n        \"seoj\"  : seoj,\n        \"deoj\"  : deoj,\n        \"esv\"   : esv,\n        \"opc\"   : opc,\n        \"epc\"   : epc,\n        \"pdc\"   : pdc,\n        \"edt\"   : edt\n    };\n  } else {\n      return;\n  }\n} else {\n    return;\n}\n\n// from integer to HEX string in even digit\nfunction n2HexString(n){\n    let str = n.toString(16);\n    if ((str.length % 2) === 0) {\n        str = \"0x\" + str;\n    } else {\n        str = \"0x0\" + str;\n    }\n    return str;\n}\n\nlet edtTmp = [];\nfor (let edt of msg.elr.edt) {\n    edtTmp.push(n2HexString(edt));\n}\n\n//  display in HEX format\nmsg.payload = {\n    ip : msg.elr.ip,\n    ehd : n2HexString(msg.elr.ehd),\n    tid : n2HexString(msg.elr.tid),\n    seoj : n2HexString(msg.elr.seoj[0]) + \", \" + n2HexString(msg.elr.seoj[1]),\n    deoj : n2HexString(msg.elr.deoj[0]) + \", \" + n2HexString(msg.elr.deoj[1]),\n    esv : n2HexString(msg.elr.esv),\n    opc : n2HexString(msg.elr.opc),\n    epc : n2HexString(msg.elr.epc),\n    pdc : n2HexString(msg.elr.pdc),\n    edt : edtTmp\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":377,"wires":[["4aa03d5c.0c15d4","3cdafc50.9fc6d4","7f4b6644.222738","68d58084.5cc45"]]},{"id":"73daa2cb.d8b16c","type":"function","z":"698d0e70.5cbd9","name":"Send EL1","func":"// Send ECHONET Lite packet\n// Assumption: OPC = 1\n//\n//  Usage: set following data\n//  msg.els.ip      ip address (String)\n//  msg.els.tid     TID (Int)\n//  msg.els.seoj    SEOJ ([Int:device, Int:instance])\n//  msg.els.deoj    DEOJ ([Int:device, Int:instance])\n//  msg.els.esv     ESV (Int)\n//  msg.els.epc     EPC (Int)\n//  msg.els.edt     EDT ([Int]) or []\n\nif (msg.els === null) {\n    console.log(\"msg.els === null\");\n    return;\n}\n\nconst tid_buffer = Buffer.allocUnsafe(2);\nlet   seoj_buffer = Buffer.allocUnsafe(3);\nconst seoj = msg.els.seoj;\nlet   deoj_buffer = Buffer.allocUnsafe(3);\nconst deoj = msg.els.deoj;\nconst esv_buffer = Buffer.allocUnsafe(1);\nconst opc_buffer = Buffer.from([1]);\nconst epc_buffer = Buffer.allocUnsafe(1);\nconst pdc_buffer = Buffer.allocUnsafe(1);\nlet edt = msg.els.edt;\n\ntid_buffer.writeUInt16BE(msg.els.tid, 0);\nesv_buffer.writeUInt8(msg.els.esv, 0);\nepc_buffer.writeUInt8(msg.els.epc, 0);\n\nseoj_buffer.writeUInt16BE(seoj[0], 0);\nseoj_buffer.writeUInt8(seoj[1], 2);\ndeoj_buffer.writeUInt16BE(deoj[0], 0);\ndeoj_buffer.writeUInt8(deoj[1], 2);\n\n// edt[]からedt_bufferを作成\nif ((typeof edt) == \"undefined\") {\n    edt = [];\n}\n\nconst edt_buffer = Buffer.allocUnsafe(edt.length);\nfor (var i = 0; i < edt.length; i++) {\n    edt_buffer.writeUInt8(edt[i], i);\n}\n\npdc_buffer.writeUInt8(edt_buffer.length, 0);\n\n// Create ECHONET Lite packet\nconst el_buffer = Buffer.from([\n\t0x10, 0x81,\n\ttid_buffer[0], tid_buffer[1],\n\tseoj_buffer[0], seoj_buffer[1], seoj_buffer[2],\n\tdeoj_buffer[0], deoj_buffer[1], deoj_buffer[2],\n\tesv_buffer[0], opc_buffer[0], epc_buffer[0], pdc_buffer[0]]);\n\n// add EDT data\nif (edt_buffer.length !== 0) {\n    msg.payload = Buffer.concat([el_buffer, edt_buffer], \n        (el_buffer.length + edt_buffer.length));\n} else {\n    msg.payload = el_buffer;\n}\n\nmsg.ip = msg.els.ip;\nreturn msg;","outputs":1,"noerr":0,"x":668,"y":538,"wires":[["7fc09325.35754c","b92b770d.a87068"]]},{"id":"7fc09325.35754c","type":"udp out","z":"698d0e70.5cbd9","name":"EL send","addr":"","iface":"","port":"3610","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":898,"y":537,"wires":[]},{"id":"1b2125db.72772a","type":"inject","z":"698d0e70.5cbd9","name":"Test Initialization","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":149.5,"y":238,"wires":[["5e194c80.0a2634"]]},{"id":"5e194c80.0a2634","type":"function","z":"698d0e70.5cbd9","name":"Test Initialization","func":"// Test:Initialization of global data\n\nvar payload = {};\n\npayload.tid = global.get(\"tid\");\npayload.epc_node = global.get(\"epc_node\");\npayload.epc_device = global.get(\"epc_device\");\n\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":369.5,"y":238,"wires":[["f5611fdc.4344e"]]},{"id":"f5611fdc.4344e","type":"debug","z":"698d0e70.5cbd9","name":"","active":true,"console":"false","complete":"false","x":555.5,"y":238,"wires":[]},{"id":"4aa03d5c.0c15d4","type":"function","z":"698d0e70.5cbd9","name":"Node Profile","func":"// HUE-EL/NodeProfile\n// General Lighting Emulator  2017.03.03\n// Process SetI(0x60), SetC(0x61), Get(0x62)\n\nlet ip = msg.elr.ip;\nlet tid = msg.elr.tid     // TID (Int)\nlet seoj = msg.elr.seoj;\nlet deoj = msg.elr.deoj;\nlet esv = msg.elr.esv;\nlet epc = msg.elr.epc;\nlet edt = msg.elr.edt;\n\nlet epc_node = global.get(\"epc_node\");\nlet epc_value;\nlet els = {};\n\nif (deoj[0] != 0x0EF0) {  // DEOJ is not Node Profile\n    return;\n}\n\nif (esv != 0x62) {      // Get以外\n    return;\n}\n\nepc_value = epc_node[epc];\n\n// epcがepc_nodeになければGet_SNAを返す\nif (epc_value === undefined) {\n  els.esv = 0x52;\n  els.edt = [];\n} else {\n  els.esv = 0x72;\n  els.edt = epc_value;\n}\n\nels.ip = ip; \nels.tid = tid;\nels.seoj = deoj;\nels.deoj = seoj;\nels.epc = epc;\n\nmsg.els = els;\nreturn msg;","outputs":1,"noerr":0,"x":470.5,"y":586,"wires":[["73daa2cb.d8b16c"]]},{"id":"3cdafc50.9fc6d4","type":"debug","z":"698d0e70.5cbd9","name":"","active":true,"console":"false","complete":"elr","x":462.5,"y":329,"wires":[]},{"id":"92be53be.1640e","type":"debug","z":"698d0e70.5cbd9","name":"","active":true,"console":"false","complete":"payload","x":1015.5,"y":320,"wires":[]},{"id":"680eda26.d97d94","type":"link in","z":"698d0e70.5cbd9","name":"EL send","links":["479baf15.4d46e","ec04c01a.455ab"],"x":500.5,"y":472,"wires":[["73daa2cb.d8b16c"]]},{"id":"33d30ec9.724802","type":"http request","z":"698d0e70.5cbd9","name":"","method":"PUT","ret":"txt","url":"http://192.168.50.33/api/smarthouse1/lights/1/state","tls":"","x":824,"y":320,"wires":[["92be53be.1640e"]]},{"id":"523892ed.1475ac","type":"comment","z":"698d0e70.5cbd9","name":"PUT http://< ip >/api/< username >/lights/1/state","info":"# Need to modify ip and username","x":932.5,"y":282,"wires":[]},{"id":"b92b770d.a87068","type":"debug","z":"698d0e70.5cbd9","name":"","active":true,"console":"false","complete":"false","x":911.5,"y":578,"wires":[]},{"id":"d9e6e2e6.0e99","type":"function","z":"698d0e70.5cbd9","name":"Normal Light","func":"// Node-RED/HUE-EL/normallLight.js  2017.05.11\n// 通常灯\n\nmsg.payload = {\"on\":true, \"sat\":0, \"bri\":254,\"hue\":0};\nreturn msg;","outputs":1,"noerr":0,"x":362.5,"y":197,"wires":[["94d95422.ed0b88"]]},{"id":"7f4b6644.222738","type":"function","z":"698d0e70.5cbd9","name":"Get","func":"// Node-RED/HueEL3V/generalLightingGet.js  2017.05.11\n// Process Get(0x62) for device object\n\nlet epc_device = global.get(\"epc_device\");\nconsole.log(\"msg.elr.deoj[1]=\", msg.elr.deoj[1]);\nlet epc_value = epc_device[ msg.elr.deoj[1] -1 ][ msg.elr.epc ];\nlet els = {};\n\nels.ip = msg.elr.ip;\nels.tid = msg.elr.tid;\nels.seoj = msg.elr.deoj;\nels.deoj = msg.elr.seoj;\nels.epc = msg.elr.epc;\n\nif (msg.elr.deoj[0] == 0x0290) {  // Check if DEOJ is General Lighting\n    if (msg.elr.esv == 0x62) {      // Get\n        if (epc_value === undefined) { // reply Get_SNA\n            els.esv = 0x52;\n            els.edt = [];\n        } else {              // reply GET_RES\n            els.esv = 0x72;\n            els.edt = epc_value;\n        }\n    msg.els = els;\n    return msg;\n    }\n}\nreturn;","outputs":1,"noerr":0,"x":454.5,"y":523,"wires":[["73daa2cb.d8b16c"]]},{"id":"68d58084.5cc45","type":"function","z":"698d0e70.5cbd9","name":"Set","func":"// Node-RED/HueEL3V/generalLightingSet.js  2017.05.11\n// 3 Valves\n// Process SetI(0x60), SetC(0x61) for device object\n\nlet epc = msg.elr.epc;\nlet edt = msg.elr.edt;\nlet epc_device = global.get(\"epc_device\");\nlet els = {};\nlet setPropertyMap = epc_device[ msg.elr.deoj[1] -1 ][0x9E].concat();     // copy array\n\nsetPropertyMap.shift();   // remove first element\nels.ip = msg.elr.ip;\nels.tid = msg.elr.tid;\nels.seoj = msg.elr.deoj;\nels.deoj = msg.elr.seoj;\nels.epc = epc;\n\nif (msg.elr.deoj[0] == 0x0290) {  // Check if DEOJ is General Lighting\n    if ((msg.elr.esv == 0x60) || (msg.elr.esv == 0x61)) {      // SetI or SetC\n        let index = setPropertyMap.indexOf(epc);    // Check if epc is in setPropertyMap\n        if (index == -1) {  // reply SetI_SNA(0x50) or SetC_SNA(0x51)\n            els.esv = (esv == 0x60) ? 0x50 : 0x51;\n            els.edt = [];\n        } else {\n            switch (epc) {\n                case 0x80:\n                    if (edt[0] == 0x30) {\n                        msg.payload = {\"id\":msg.elr.deoj[1], \"on\":true, \"sat\":0, \"bri\":254,\"hue\":0};\n                    } else if (edt[0] == 0x31) {\n                        msg.payload = {\"id\":msg.elr.deoj[1], \"on\": false};\n                    }\n                    epc_device[ msg.elr.deoj[1] -1 ][epc] = [edt[0]];\n                    break;\n                case 0xB0:\n                    let bri = Math.floor((edt[0] / 100) * 254);     // ELの明るさは0...100, Hueの明るさは0...254\n                    msg.payload = {\"id\":msg.elr.deoj[1], \"bri\": bri};\n                    epc_device[ msg.elr.deoj[1] -1 ][epc] = [edt[0]];\n                    break;\n                case 0xB6:            // EDTの値に応じて、通常灯・常夜灯・カラー灯にする\n                    if ((edt[0] == 0x41) || (edt[0] == 0x42)) {   // 自動　通常灯\n                        msg.payload = {\"id\":msg.elr.deoj[1], \"on\":true, \"sat\":0, \"bri\":254,\"hue\":0};                \n                    } else if (edt[0] == 0x43) {    // 常夜灯\n                        msg.payload = {\"id\":msg.elr.deoj[1], \"on\":true, \"sat\":200, \"bri\":32,\"hue\":10000};     // TODO: need modify\n                    } else if (edt[0] == 0x45) {    // カラー灯\n                        // 現在の0xC0の値を取得して点灯する\n                        let edt0xC0 = epc_device[ msg.elr.deoj[1] -1 ][0xC0];\n                        let r =  [edt0xC0[0]];\n                        let g =  [edt0xC0[1]];\n                        let b =  [edt0xC0[2]];\n                        let hsv = rgb2hsv(r, g, b);\n                        msg.payload = {\"id\":msg.elr.deoj[1], \"on\":true, \"bri\": v, \"hue\":h, \"sat\":s};\n                    }\n                    epc_device[ msg.elr.deoj[1] -1 ][epc] = [edt[0]];\n                    break;        \n                case 0xC0:  //\n                    epc_device[ msg.elr.deoj[1] -1 ][epc] = [edt[0], edt[1], edt[2]];\n                    let edt0xB6 = epc_device[ msg.elr.deoj[1] -1 ][0xB6];\n                    if (edt0xB6 == 0x45) {\n                        // 0xB6がカラー灯モードなら、現在のRGB値で点灯する\n                        let r =  [edt[0]];\n                        let g =  [edt[1]];\n                        let b =  [edt[2]];\n                        let hsv = rgb2hsv(r, g, b);\n                        msg.payload = {\"id\":msg.elr.deoj[1], \"on\":true, \"bri\": v, \"hue\":h, \"sat\":s};                        \n                    }\n                    break;        \n            }\n            if (msg.elr.esv == 0x61) {  // SetCの場合Set_RESを返す\n                els.esv = 0x71;   // Set_RES\n                els.edt = [];\n            } else {\n                els = null;\n            }\n        }\n        msg.els = els;\n        return msg;      \n    }\n}\nreturn;\n\n// function rgb2hsv: convert RGB to HSV\n// input r, g, b: 0...255\n// output h:0...65535, s:0...255, v:0...255\nfunction rgb2hsv(r, g, b) {\n    let maxRGB = Math.max(r, g, b);\n    let minRGB = Math.min(r, g, b);\n    \n    if ((r == g) && (r == b)) {\n        h = 0;\n    } else if (maxRGB == r) {\n        h = Math.floor(60 * ((g - b) / (maxRGB - minRGB)));\n    } else if (maxRGB == g) {\n        h = Math.floor(60 * ((b - r) / (maxRGB - minRGB)) + 120);\n    } else if (maxRGB == b) {\n        h = Math.floor(60 * ((r - g) / (maxRGB - minRGB)) + 240);\n    }\n    \n    if (h < 0) {\n        h += 360;\n    }\n    \n    h = Math.floor(65535 * (h/360));\n    s = Math.floor(255* ((maxRGB - minRGB) / maxRGB));\n    v = maxRGB;\n    \n    return {h, s, v};    \n}","outputs":1,"noerr":0,"x":451.5,"y":379,"wires":[["bdc7ab2b.4c9a98","55b17418.70ad6c","df87598e.63cfa8","73daa2cb.d8b16c"]]},{"id":"c6a82641.1543d8","type":"comment","z":"698d0e70.5cbd9","name":"Initialization","info":"","x":121.5,"y":120,"wires":[]},{"id":"cae2b8e3.3f6748","type":"link in","z":"698d0e70.5cbd9","name":"http request 1","links":["94d95422.ed0b88","3631ba2e.6a7606"],"x":722.5,"y":282,"wires":[["33d30ec9.724802"]]},{"id":"94d95422.ed0b88","type":"link out","z":"698d0e70.5cbd9","name":"Normal Light","links":["cae2b8e3.3f6748","48997605.ebddf8","60c7070f.33c668"],"x":498.5,"y":197,"wires":[]},{"id":"a6e229bf.cffea8","type":"comment","z":"698d0e70.5cbd9","name":"Process EL command","info":"","x":160.5,"y":326,"wires":[]},{"id":"8687e2f.4f9192","type":"inject","z":"698d0e70.5cbd9","name":"r,g,b","topic":"","payload":"{\"r\":45, \"g\":175, \"b\":90, \"h\":0, \"s\":0, \"v\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":124.5,"y":697,"wires":[["2b166163.029f7e"]]},{"id":"9bbdcdad.2ccf7","type":"debug","z":"698d0e70.5cbd9","name":"","active":true,"console":"false","complete":"false","x":611.5,"y":698,"wires":[]},{"id":"d0c8a77e.b889a8","type":"http request","z":"698d0e70.5cbd9","name":"","method":"PUT","ret":"txt","url":"http://192.168.50.33/api/smarthouse1/lights/2/state","tls":"","x":822,"y":391,"wires":[["bb37d11d.b167a"]]},{"id":"8074da5.81ba028","type":"http request","z":"698d0e70.5cbd9","name":"","method":"PUT","ret":"txt","url":"http://192.168.50.33/api/smarthouse1/lights/3/state","tls":"","x":823,"y":463,"wires":[["ee935838.52e628"]]},{"id":"872694.5cb8397","type":"comment","z":"698d0e70.5cbd9","name":"PUT http://< ip >/api/< username >/lights/2/state","info":"# Need to modify ip and username","x":931,"y":353,"wires":[]},{"id":"884aab11.5ec4f8","type":"comment","z":"698d0e70.5cbd9","name":"PUT http://< ip >/api/< username >/lights/3/state","info":"# Need to modify ip and username","x":932,"y":429,"wires":[]},{"id":"efb0dd65.9a276","type":"comment","z":"698d0e70.5cbd9","name":"TEST: HUE","info":"Confirm followings\n-  ip address\n- username","x":111.5,"y":508,"wires":[]},{"id":"33a094b3.948c3c","type":"inject","z":"698d0e70.5cbd9","name":"ON","topic":"","payload":"{\"on\":true}","payloadType":"json","repeat":"","crontab":"","once":false,"x":125,"y":547,"wires":[["3631ba2e.6a7606"]]},{"id":"818dd081.59c49","type":"inject","z":"698d0e70.5cbd9","name":"OFF","topic":"","payload":"{\"on\":false}","payloadType":"json","repeat":"","crontab":"","once":false,"x":128,"y":590,"wires":[["3631ba2e.6a7606"]]},{"id":"3631ba2e.6a7606","type":"link out","z":"698d0e70.5cbd9","name":"ON/OFF","links":["60c7070f.33c668","48997605.ebddf8","cae2b8e3.3f6748"],"x":249.5,"y":547,"wires":[]},{"id":"2b166163.029f7e","type":"function","z":"698d0e70.5cbd9","name":"function rgb2hsv","func":"// input r, g, b: 0...255\n// output h:0...65535, s:0...255, v:0...255\n\nlet r = msg.payload.r;\nlet g = msg.payload.g;\nlet b = msg.payload.b;\nlet h = msg.payload.h;\nlet s = msg.payload.s;\nlet v = msg.payload.v;\n\nlet hsv = rgb2hsv(r, g, b);\n\nmsg.payload.r = r;\nmsg.payload.g = g;\nmsg.payload.b = b;\nmsg.payload.h = hsv.h;\nmsg.payload.s = hsv.s;\nmsg.payload.v = hsv.v;\n\nreturn msg;\n\nfunction rgb2hsv(r, g, b) {\n    let maxRGB = Math.max(r, g, b);\n    let minRGB = Math.min(r, g, b);\n    \n    if ((r == g) && (r == b)) {\n        h = 0;\n    } else if (maxRGB == r) {\n        h = Math.floor(60 * ((g - b) / (maxRGB - minRGB)));\n    } else if (maxRGB == g) {\n        h = Math.floor(60 * ((b - r) / (maxRGB - minRGB)) + 120);\n    } else if (maxRGB == b) {\n        h = Math.floor(60 * ((r - g) / (maxRGB - minRGB)) + 240);\n    }\n    \n    if (h < 0) {\n        h += 360;\n    }\n    \n    h = Math.floor(65535 * (h/360));\n    s = Math.floor(255* ((maxRGB - minRGB) / maxRGB));\n    v = maxRGB;\n    \n    return {h, s, v};    \n}","outputs":1,"noerr":0,"x":377.5,"y":697,"wires":[["9bbdcdad.2ccf7"]]},{"id":"71eb1901.7e7aa8","type":"comment","z":"698d0e70.5cbd9","name":"TEST: function rgb2hsv","info":"Confirm followings\n-  ip address\n- username","x":149,"y":659,"wires":[]},{"id":"48997605.ebddf8","type":"link in","z":"698d0e70.5cbd9","name":"http request 2","links":["94d95422.ed0b88","3631ba2e.6a7606"],"x":722.5,"y":360,"wires":[["d0c8a77e.b889a8"]]},{"id":"60c7070f.33c668","type":"link in","z":"698d0e70.5cbd9","name":"http request 3","links":["94d95422.ed0b88","3631ba2e.6a7606"],"x":724.5,"y":435,"wires":[["8074da5.81ba028"]]},{"id":"bdc7ab2b.4c9a98","type":"function","z":"698d0e70.5cbd9","name":"id=1","func":"// Node-RED/HueEL3V/id1.js  2017.05.11\n// filter \"id\" == 1\n\nif ((msg.payload.id === 0) || (msg.payload.id == 1)) {\n    delete msg.payload['id'];\n    return msg;\n} else {\n    return;\n}","outputs":1,"noerr":0,"x":655.5,"y":319,"wires":[["33d30ec9.724802"]]},{"id":"55b17418.70ad6c","type":"function","z":"698d0e70.5cbd9","name":"id = 2","func":"// Node-RED/HueEL3V/id2.js  2017.05.11\n// filter \"id\" == 2\n\nif ((msg.payload.id === 0) || (msg.payload.id == 2)) {\n    // delete \"id\" element from msg.payload\n    delete msg.payload['id'];\n    return msg;\n} else {\n    return;\n}","outputs":1,"noerr":0,"x":656.5,"y":392,"wires":[["d0c8a77e.b889a8"]]},{"id":"df87598e.63cfa8","type":"function","z":"698d0e70.5cbd9","name":"id = 3","func":"// Node-RED/HueEL3V/id3.js  2017.05.11\n// filter \"id\" == 3\n\nif ((msg.payload.id === 0) || (msg.payload.id == 3)) {\n    // delete \"id\" element from msg.payload\n    delete msg.payload['id'];\n    return msg;\n} else {\n    return;\n}","outputs":1,"noerr":0,"x":653.5,"y":463,"wires":[["8074da5.81ba028"]]},{"id":"bb37d11d.b167a","type":"debug","z":"698d0e70.5cbd9","name":"","active":true,"console":"false","complete":"false","x":1016.5,"y":391,"wires":[]},{"id":"ee935838.52e628","type":"debug","z":"698d0e70.5cbd9","name":"","active":true,"console":"false","complete":"false","x":1019.5,"y":463,"wires":[]}]